$black:#000;
$white:#fff;
$primary:#85F377;
$primary2:#AFF8A3;
$paragraph: #1E2C3C;
$heading: #010101;
$text: #16320B;
$textC2: #081702;
$textC3: #0A1A03;
$textC5: #3D5A31;
$textC6: #294127;
$hover: #4EC43F;